body {
  padding: 0;
  margin: 0;
}
div {
  box-sizing: border-box;
}
header {
  background: url("img/TOP.png") no-repeat center top / cover;
  height: 1080px;
}
.logo {
  margin-top: -30px;
  margin-left: 177px;
}
.titles {
  margin-left: 189px;
  margin-top: 280px;
}
.title_first {
  font-family: Muller, sans-serif;
  font-size: 32pt;
  color: #44a09b;
  text-align: left;
}
.title_second {
  font-family: Muller, sans-serif;
  font-size: 55pt;
  color: black;
  text-align: left;
  width: 1150px;
  margin-top: 40px;
}
.register_top {
  margin-top: 78px;
  margin-left: -650px;
}
.tuesday {
  font-size: 20pt;
  font-family: Muller, sans-serif;
  color: #ff8141;
  position: relative;
  margin-top: -180px;
  margin-left: 10px;
}
.register_button_top {
  position: relative;
  top: 0px;
  left: 10px;
}
.scroll_down {
  text-align: center;
  font-family: "Visby CF", sans-serif;
  font-size: 16pt;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 79px;
}
.scroll_img p {
  text-align: center;
  margin: 0;
}
.left_video {
  transform: scale(1.35);
  margin-top: -1316px;
  width: 1112px;
  height: 812px;
}
.video {
  position: absolute;
  top: 1080px;
}
.white_overlay {
  position: absolute;
  top: 1080px;
}
.start_button_circle {
  position: absolute;
  top: 1405px;
  left: 450px;
}
.start_button_triangle {
  position: absolute;
  top: 1470px;
  left: 527px;
}
.arrow {
  position: absolute;
  top: 1550px;
  left: 586px;
}
.webinar_text {
  font-size: 24pt;
  font-family: "CF Jack Story", sans-serif;
  position: absolute;
  top: 1650px;
  left: 660px;
  text-align: center;
  transform: rotate(10deg);
  border: 0px;
  width: 200px;
}
.right_text {
  font-size: 32pt;
  font-family: "Visby CF", sans-serif;
  font-weight: bold;
  position: absolute;
  text-transform: uppercase;
  color: #3a4a62;
  top: 1140px;
  left: 1390px;
  margin-top: 50px;
}
.right_ul {
  font-size: 16pt;
  font-family: "Visby CF", sans-serif;
  font-weight: 300;
  position: absolute;
  color: #575656;
  top: 1240px;
  left: 1390px;
  display: block;
  width: 600px;
  margin-top: 50px;
}
.right_ul p::before {
  content: url(img/list_img.png);
}
.PLUS {
  font-size: 16pt;
  font-family: "Visby CF", sans-serif;
  font-weight: 300;
  position: absolute;
  color: #575656;
  top: 1650px;
  left: 1390px;
  display: block;
  width: 600px;
  margin-top: 100px;
}
.PLUS::before {
  content: url(img/heart.png);
}
.register_button_right {
  position: absolute;
  top: 1750px;
  left: 1390px;
  margin-top: 150px;
}
.footer_text {
  font-size: 55pt;
  font-family: "Visby CF", sans-serif;
  font-weight: 900;
  position: absolute;
  text-transform: uppercase;
  color: #fefdfd;
  top: 2220px;
  left: 320px;
}
.footer_img {
  background: url("img/footer.png") no-repeat center top / cover;
  margin-top: 1600px;
}
